<!DOCTYPE html>
<html>

<body>
    <img src = "{{ captcha_file }}">

    <form method="POST">
        <label>Email: </label><input name = "from" type = "text">
        <label>Subject: </label><input name = "subject" type = "text">
        <label>Message: </label><input name = "message" type = "text">
        <label>Captcha: </label><input name = "answer" type = "text">
        <input type = "submit">
        <input name = "code" value = "{{ captcha_code }}" type = hidden>
    </form>
</body>

</html>